.body {
    color: black;
}

.video-size{
    margin-top: 165px;
    margin-left: 15px;
    width: 750px;
}

.logo-size {
    width: 150px;
    margin-top: 15px;
    position: absolute;
    top: 10px;
    left: 475px;
}

.awning{
    width: 100%;
    height: 85px;
    margin-top: 0px;
}